@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1120px) {}


body {
  font-family: Roboto, system-ui, sans-serif;
  background-color: #242d34;
  color: #e7e9ea;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  font-family: inherit;
  border: 0;
  color: inherit;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 24px 20px;
  border-radius: 16px;
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  color: #d6d9db;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 7px 11px;
  border-radius: 50%;
}

.close-button:hover {
  background-color: #212222;
}

.logo {
  font-size: 30px;
}

.content {
  width: 500px;
  text-align: center;
  margin-inline: auto;
}

.content h1 {
  margin-block: 20px
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}

.primary-button {
  width: 80%;
  border-radius: 20px;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 500;

}

.primary-button {
  background-color: #fff;
  color: #0f1419;
}

.primary-button:hover {
  background-color: #e6e6e6;
}

.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 50px;
 
}

.sign-in-button object {
  width: 24px;
  height: 24px;
}

.divider {
  width: 100%;
  margin-block: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.divider p::before,
.divider p::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 1px;
  background-color: #333639;
}

.divider p::before {
  left: 0;
}

.divider p::after {
  right: 0;
}


.nome-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.nome-log-in input {
  width: 70%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}

.senha-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.senha-log-in input {
  width: 30%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}

.confirme-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.confirme-log-in input {
  width: 30%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}

.cpf-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.cpf-log-in input {
  width: 30%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}

.tel-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.tel-log-in input {
  width: 30%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}

.email-log-in {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.email-log-in input {
  width: 50%;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #333639;
  outline: none;
  padding: 15px 10px;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}


input::placeholder {
  opacity: 0;
}

input+label {
  position: absolute;
  top: 10px;
  left: 1px;
  color: #71767b;
  font-size: 18px;
  pointer-events: none;
  transition: 200ms ease;
}

input:focus {
  outline: 1px solid #1d9bf0;
}

input:focus+label {
  color: #1d9bf0;
}

input:not(:placeholder-shown)+label,
input:focus+label {
  top: 6px;
  left: 10px;
  font-size: 12px;
}

.sign-up {
  margin-top: 32px;
  font-weight: 300;
  text-align: center;
}

.sign-up a {
  color: #1d9bf0;
}

.sign-up a:hover {
  text-decoration: underline;
  text-decoration-color: #1d9bf0;
}

@media(max-width < 600px) {
  .container>div {
    width: 80%;
  }
}